@model SCE_Website.ViewModel.ExamViewModel
@using SCE_Website.Models

@{
    ViewBag.Title = "ShowCoursesSchedule";
}

    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Course Name</th>
                <th scope="col">Classroom</th>
                <th scope="col">Exam A Date</th>
                <th scope="col">Exam B Date</th>
            </tr>
        </thead>
        @{
            foreach (Exam obj in Model.Exams)
            {
                <tbody>
                    <tr>
                        <td>@obj.CourseName</td>
                        @{
                            if (obj.Classroom != null)
                            {
                                <td>@obj.Classroom</td>
                            }
                            else
                            {
                                <td>TBA</td>
                            }
                            if (obj.ExamA != null)
                            {
                                <td>@obj.ExamA</td>
                            }
                            else
                            {
                                <td>TBA</td>
                            }
                            if (obj.ExamB != null)
                            {
                                <td>@obj.ExamB</td>
                            }
                            else
                            {
                                <td>TBA</td>
                            }
                        }
                    </tr>
                </tbody>
            }

        }
    </table>