
@{
    ViewBag.Title = "Lecturer";
}

    <form action="Menu" method="post">
        <input id="ShowCoursesSchedule" type="submit" value="Show my courses schedule" name="ShowCoursesSchedule" />
        <br />
		<input id="ShowCourseStudents" type="submit" value="Show students in course" name="ShowCourseStudents" />
    </form>
